.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/phipo.owl
src/ontology/phipo.obo
src/ontology/phipo.json
src/ontology/phipo-base.*
src/ontology/phipo-basic.*
src/ontology/phipo-full.*
src/ontology/phipo-simple.*
src/ontology/phipo-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
src/ontology/merged-phipo-edit.owl
src/ontology/tmp/*
!src/ontology/tmp/README.md

